<div class="newsletter">
  <div class="newsletter__header">
    <app-close-button (close)="handleClose()"></app-close-button>
  </div>

  <div class="newsletter__body">
    <span class="newsletter__title">
      Junte-se a nossa newsletter
    </span>

    <span class="newsletter__subtitle">
      Fique antenado sobre as nossas promoções
      e tenha acesso antes dos outros
    </span>

    <form class="newsletter__form" action="">
      <input required class="newsletter__text-field text-field" type="name" name="name" placeholder="Seu Nome" />
      <input required class="newsletter__text-field text-field" [class.error]="alreadyExists" [(ngModel)]="userEmail" type="email" name="email" placeholder="Seu Email" />
      <button type="submit" class="newsletter__form__btn btn-primary" (submit)="handleSubmit()"> inscrever </button>
    </form>
  </div>
</div>
