@import "./../../../styles";

:host {
  --newsletter-width: 830px;
  --newsletter-width-sm: 85vw;
  --newsletter-body-width: 100%;
  --newsletter-body-width-sm: 80%;
  --newsletter-height: 325px;
  --newsletter-height-sm: auto;
  --icon-close-width: 25px;
  --icon-close-width-sm: 20px;
  --btn-primary-height: 46px;
  --btn-primary-height-sm: 40px;
  --btn-close-max-width: 55px;
  --btn-close-max-width-sm: 30px;
  --btn-close-height: 40px;
  --btn-close-height-sm: 35px;
}

.newsletter {
  --black: #353535;
  --border-width: 5px;
  --text-color: white;
  --red: rgba(165, 42, 42, 1);
}

.newsletter {
  width: var(--newsletter-width);
  height: var(--newsletter-height);
  border: var(--border-width) solid var(--black);
  background-image: url("/assets/images/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--btn-close-height);
    margin-inline: 0;
  }

  &__title {
    --ff-size: 24px;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    color: white;
    text-transform: uppercase;
    font-size: var(--ff-size);
    text-align: center;
    white-space: nowrap;
  }

  &__subtitle {
    --ff-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: white;
    font-size: var(--ff-size);
    text-align: center;
  }

  &__body {
    max-width: 381px;
    width: var(--newsletter-body-width);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 20px;
    margin-inline: auto;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11px;
  }

  &__form__btn {
    margin-top: 22px;
  }



  &__text-field {
    --ff-size: 18px;
    width: 100%;
    padding-inline: 10px;
    padding-top: 7px;
    padding-bottom: 8px;
    outline: none;
    border: none;
    font-size: var(--ff-size);
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
  }

  &__text-field:nth-of-type(n + 2) {
    margin-top: 10px;
  }
}

.btn-primary {
  --ff-size: 18px;
  min-width: 145px;
  height: var(--btn-primary-height);
  padding-inline: 23px;
  background-color: var(--red);
  font-family: "Open Sans";
  font-weight: 700;
  font-size: var(--ff-size);
  text-transform: uppercase;
  color: white;
  transition: all 0.25s ease-in-out 200ms;
  border: 1px solid var(--red);

  &:hover {
    color: var(--red);
    background-color: white;
  }
}


.btn-close {
  min-width: var(--btn-close-max-width);
  padding-inline: 15px;
  height: var(--btn-close-height);
  margin-left: auto;
  background-color: var(--black);
  border: 1px solid var(--black);

  &__icon {
    width: var(--icon-close-width);
    height: var(--icon-close-width);
    background-image: url("/assets/icons/close.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* 680px */
@media only screen and (max-width: 780px) {
  .newsletter {
    width: var(--newsletter-width-sm);
    height: var(--newsletter-height-sm);
    background-position: center;
    margin-top: -25vh;

    &__title {
      --ff-size: 18px;
    }

    &__subtitle {
      --ff-size: 12px;
    }

    &__text-field {
      --ff-size: 14px;
    }


    &__body {
      width: var(--newsletter-body-width-sm);
    }

    &__header {
      height: var(--btn-close-height-sm);
    }
  }


  .btn-primary {
    --ff-size: 14px;
    height: var(--btn-primary-height-sm);
  }

  .btn-close {
    min-width: var(--btn-close-max-width-sm);
    height: var(--btn-close-height-sm);

    &__icon {
      width: var(--icon-close-width-sm);
      height: var(--icon-close-width-sm);
    }
  }


}

@media only screen and (max-width: 460px) {
  .newsletter {
    width: var(--newsletter-width-sm);
    height: var(--newsletter-height-sm);
    background-position: center;
  }

  .btn-close {
    &__icon {
      width: var(--icon-close-width-sm);
      height: var(--icon-close-width-sm);
    }
  }

  .newsletter__header {
    height: var(--btn-close-height-sm);
  }
}