@import "./../../../styles";

:host {
  --newsletter-width: 830px;
  --newsletter-width-sm: 85vw;
  --newsletter-body-width: 100%;
  --newsletter-body-width-sm: 80%;
  --newsletter-height: 325px;
  --newsletter-height-sm: auto;

  --btn-primary-height: 46px;
  --btn-primary-height-sm: 40px;
  --header-height: 40px;
}

.newsletter {
  --black: #353535;
  --border-width: 5px;
  --text-color: white;
  --red: rgba(165, 42, 42, 1);
  width: var(--newsletter-width);
  height: var(--newsletter-height);
  border: var(--border-width) solid var(--black);
  background-image: url("/assets/images/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  
  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    margin-inline: 0;
    justify-content: right;
  }

  &__title {
    --ff-size: 24px;
    font-family: "Roboto", sans-serif;
    font-style: bold;
    color: white;
    text-transform: uppercase;
    font-size: var(--ff-size);
    text-align: center;
    white-space: nowrap;
  }

  &__subtitle {
    --ff-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: white;
    font-size: var(--ff-size);
    text-align: center;
  }

  &__body {
    max-width: 381px;
    width: var(--newsletter-body-width);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 20px;
    margin-inline: auto;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11px;
  }

  &__form__btn {
    margin-top: 22px;
  }



  &__text-field {
    --ff-size: 18px;
    width: 100%;
    padding-inline: 10px;
    padding-top: 7px;
    padding-bottom: 8px;
    outline: none;
    border: none;
    font-size: var(--ff-size);
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  &__text-field:nth-of-type(n + 2) {
    margin-top: 10px;
  }
}

.btn-primary {
  --ff-size: 18px;
  min-width: 145px;
  height: var(--btn-primary-height);
  padding-inline: 23px;
  background-color: var(--red);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: var(--ff-size);
  text-transform: uppercase;
  color: white;
  transition: all 0.25s ease-in-out 200ms;
  border: 1px solid var(--red);

  &:hover {
    color: var(--red);
    background-color: white;
  }
}




/* 680px */
@media only screen and (max-width: 780px) {
  .newsletter {
    width: var(--newsletter-width-sm);
    height: var(--newsletter-height-sm);
    background-position: center;
    margin-top: -25vh;

    &__title {
      --ff-size: 18px;
    }

    &__subtitle {
      --ff-size: 12px;
    }

    &__text-field {
      --ff-size: 14px;
    }


    &__body {
      width: var(--newsletter-body-width-sm);
    }

    &__header {
      height: var(--btn-close-height-sm);
    }
  }


  .btn-primary {
    --ff-size: 14px;
    height: var(--btn-primary-height-sm);
  }




}

@media only screen and (max-width: 460px) {
  .newsletter {
    width: var(--newsletter-width-sm);
    height: var(--newsletter-height-sm);
    background-position: center;
  }



  .newsletter__header {
    height: var(--btn-close-height-sm);
  }
}

//hacking
::ng-deep .mat-dialog-container {
  border-radius: 0 !important;
  padding: 0 !important;
  animation: fade-in-from-top 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes fade-in-from-top {
  from {
    opacity: 0;
    transform: translateY(-90%) rotate(30deg);
  }

  50% {
    transform: translateY(0) rotate(-10deg);
  }

  75% {
    transform: translateY(0) rotate(5deg);
  }

  to {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }
}