<header class="header">
    <img srcset='/assets/images/logo.svg' class="header__logo" />
    <div class="header__search-container">
        <div class="search-input">
            <input type="text" value="pesquisando aqui">
            <img srcset='/assets/icons/lupe.svg' class="search-input__lupe"/>
        </div>
        <div class="header__menu">
            <div class="header__menu-item" name="materiais">Materiais</div>
            <div class="header__menu-item">Sobre-nós</div>
            <div class="header__menu-item">Depoimentos</div>
            <div id='materiais-submenu' class="header__submenu" for="materiais">
                <div class="header__menu-item">Luzes e Luminárias</div>
                <div class="header__menu-item">Elétricos</div>
            </div>
        </div>
    </div>
</header>
<div class="contact-info">
    <img srcset='/assets/icons/WhatsappIcon.png' class="whatsapp-icon" />
    <div class="text-wrapper">
        <a href="" class="click-cta-whatsapp">Clique aqui</a>
        e faça seu orçamento | (21) 1234-8792
    </div>
</div>
<div name="main" class="main">
    <div class="main__title-wrapper">
        <h3 class="main__title">Materiais de Decoração</h3>
    <h6 class="main__subtitle">
        Mantenha sua casa iluminada e aconchegante com as nossas 
        luzes e<br/> luminárias. 
        Ou escolha entre a nossa 
        variedade de produtos elétricos, <br/> desde fios e cabos até disjuntores e tomadas. 
        Tudo o que você precisa <br/> para manter sua casa funcionando perfeitamente.
    </h6>
    </div>
    <div class="products-container">
        <h4 class="products-container__category">
            Luzes e Luminárias
        </h4>
        <div class="products-container__grid grid-container">
            <div class="grid-item">
                <img src="" alt="" class="grid-item__img">
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
        </div>
    </div>
    
</div>
<div name="about" class="about-us">
    <div class="about-us__title">
        Sobre nós
    </div>
    <div class="about-us__img"></div>
    <div class="about-us__text">
        Somos uma empresa especializada em materiais de decoração, 
        elétricos e iluminação. Nossa paixão é ajudar as pessoas a 
        transformar suas casas em lares acolhedores e cheios de 
        personalidade. E por isso oferecemos produtos de qualidade, 
        atendimento especializado e preços acessíveis
    </div>
</div>
<div name="testimonials" class="testimonials">
    <div class="testimonials__title">
        Depoimentos
    </div>
    <div class="testimonials__wrapper">
        <div class="testimonials__wrapper-item">
            <img src="" alt="">
            <span class="item-description">
                Eu amei as luzes que comprei na loja. Elas deixaram minha sala ainda mais aconchegante!
            </span>
            <strong>- Ana, Empresária</strong>
        </div>
        <div class="testimonials__wrapper-item">
            <img src="" alt="">
            <span class="item-description">
                O atendimento da loja é excelente. Eles me ajudaram a escolher os materiais ideais para a minha reforma.
            </span>
            <strong>- Lucas, Product Owner</strong>
        </div>
        <div class="testimonials__wrapper-item">
            <img src="" alt="">
            <span class="item-description">
               Comprei um lustre lindo e recebi em casa rapidinho.
               Recomendo! 
            </span>
            <strong>- Ana, Pintora</strong>
        </div>
    </div>
</div>
<div name="invite" class="invite">
    <!-- TODO: copy code of newsletter & paste here -->
</div>
<footer class="footer">
<div class="footer__logo--white--large">
</div>
<div class="footer__sitemap">
    <div class="footer__sitemap-group">

    </div>
    <div class="footer__sitemap-group">
        
    </div>
    <div class="footer__sitemap-group">
        
    </div>
</div>
<div class="footer__followus">
  <span>Follow us</span>
  <img src="https://example.com/twitter-icon-white.png" alt="Twitter" height="38px" class="twitter-icon--white">
  <img src="https://example.com/facebook-icon-white.png" alt="Facebook" height="38px" class="facebook-icon--white">
  <img src="https://example.com/instagram-icon-white.png" alt="Instagram" height="38px" class="instagram-icon--white">
</div>
</footer>