<header class="header">
    <img srcset='/assets/images/logo.svg' class="header__logo" />
    <div class="header__search-container">
        <div class="search-input">
            <input type="text" value="" placeholder="Pesquise aqui">
            <img srcset='/assets/icons/lupe.svg' class="search-input__lupe"/>
        </div>
        <div class="header__menu">
            <div class="header__menu-item" name="materiais">Materiais</div>
            <div class="header__menu-item">Sobre-nós</div>
            <div class="header__menu-item">Depoimentos</div>
            <div id='materiais-submenu' class="header__submenu" for="materiais">
                <div class="header__menu-item">Luzes e Luminárias</div>
                <div class="header__menu-item">Elétricos</div>
            </div>
        </div>
    </div>
</header>
<div class="contact-info" id="telefones">
    <img srcset='/assets/icons/WhatsappIcon.png' class="whatsapp-icon" />
    <div class="text-wrapper">
        <a href="" class="click-cta-whatsapp">Clique aqui</a>
        e faça seu orçamento | (21) 1234-8792
    </div>
</div>
<div id="materiais" class="main">
    <div class="main__title-wrapper">
        <h3 class="main__title">Materiais de Decoração</h3>
    <h6 class="main__subtitle">
        Mantenha sua casa iluminada e aconchegante com as nossas 
        luzes e<br/> luminárias. 
        Ou escolha entre a nossa 
        variedade de produtos elétricos, <br/> desde fios e cabos até disjuntores e tomadas. 
        Tudo o que você precisa <br/> para manter sua casa funcionando perfeitamente.
    </h6>
    </div>
    <div class="products-container" id="luzes">
        <h4 class="products-container__category">
            Luzes e Luminárias
        </h4>
        <div class="products-container__grid grid-container">
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
        </div>
    </div>
    <div class="products-container" id="eletricos">
        <h4 class="products-container__category">
            Elétricos
        </h4>
        <div class="products-container__grid grid-container">
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
            <div class="grid-item">
                <img src="/assets/images/product_mock.png" alt="" class="grid-item__img" />
                <span class="grid-item__subtitle products-container__category-description">
                    Cordão de bola de algodão
                </span>
            </div>
        </div>
    </div>
</div>
<div id="about" class="about-us">
    <div class="about-us__title">
        Sobre nós
    </div>
    <div class="about-us__wrapper">
        <img src='/assets/images/tablemock.png' class="about-us__img" />
    <div class="about-us__text">
        Somos uma empresa especializada em materiais de decoração, 
        elétricos e iluminação. Nossa paixão é ajudar as pessoas a 
        transformar suas casas em lares acolhedores e cheios de 
        personalidade. E por isso oferecemos produtos de qualidade, 
        atendimento especializado e preços acessíveis
    </div>
    </div>
</div>
<div id="testimonials" class="testimonials">
    <div class="testimonials__title">
        Depoimentos
    </div>
    <div class="testimonials__wrapper">
        <div class="testimonials__wrapper-item">
            <img src="/assets/images/person.png" alt="">
            <span class="item-description">
                Eu amei as luzes que comprei na loja. Elas deixaram minha sala ainda mais aconchegante!
            </span>
            <strong>- Ana, Empresária</strong>
        </div>
        <div class="testimonials__wrapper-item">
            <img src="/assets/images/person2.png" alt="">
            <span class="item-description">
                O atendimento da loja é excelente. Eles me ajudaram a escolher os materiais ideais para a minha reforma.
            </span>
            <strong>- Lucas, Product Owner</strong>
        </div>
        <div class="testimonials__wrapper-item">
            <img src="/assets/images/person3.png" alt="">
            <span class="item-description">
                Comprei um lustre lindo e recebi em casa rapidinho. Recomendo!
            </span>
            <strong>- Ana, Pintora</strong>
        </div>
    </div>
</div>
<div id="newsletter" class="newsletter">
    <div class="newsletter__body">
    <span class="newsletter__title">
      Junte-se a nossa newsletter
    </span>

    <span class="newsletter__subtitle">
      Fique antenado sobre as nossas promoções
      e tenha acesso antes dos outros
    </span>

    <form class="newsletter__form" action="">
      <input required class="newsletter__text-field text-field" type="name" name="name" placeholder="Seu Nome" />
      <input required class="newsletter__text-field text-field" type="email" name="email" placeholder="Seu Email" />
      <button type="submit" class="newsletter__form__btn btn-primary"> inscrever </button>
    </form>
  </div>
</div>
<footer class="footer">
<div class="img-wrapper"><img src='/assets/images/logo-white.svg' class="footer__logo"/></div>
<div class="footer__sitemap">
    <ul class="footer__sitemap-group">
        <li class="footer__sitemap-title">Inicio</li>
        <a href="#materiais">Materiais</a>
        <a href="#about">Sobre-nós</a>
        <a href="#testimonials">Depoimentos</a>
    </ul>
    <ul class="footer__sitemap-group">
        <li class="footer__sitemap-title">Categorias</li>
        <a href="#luzes">Luzes e Luminárias</a>
        <a href="#eletricos">Elétricos</a>
    </ul>
    <ul class="footer__sitemap-group">
        <li class="footer__sitemap-title">Contatos</li>
        <a href="#telefones">Telefones</a>
        <a href="mailto:pedrohenriquebraga735@gmail.com">Email</a>
        <a href="#">Chat</a>
    </ul>
</div>
<div class="footer__followus">
  <span>Siga-nos</span>
  <div class="icons-wrapper">
    <img src="/assets/icons/twitter.png" alt="Twitter" class="twitter">
    <img src="/assets/icons/facebook.png" alt="Facebook" class="facebook">
    <img src="/assets/icons/instagram.png" alt="Instagram" class="instagram">
  </div>
</div>
</footer>