@import "src/styles";
@import "src/app/features/newsletter/components/newsletter/newsletter.component";

:host {
    --primary-color: #484C7F;
    --secondary-color: #FF6B6B;
    --black: #353535;
    --gray: #798071;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.header {
    width: 100%;
    display: flex;

    &__logo {
        margin-left: 45.84px;
        margin-right: 9px;
        margin-top: 36px;
        margin-bottom: 36px;
        height: 39.39px;
    }


    &__search-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: var(--primary-color);
        padding-top: 36px;
        padding-left: 80px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 4% 100%);
    }


    .search-input {
        display: flex;
        background-color: white;
        width: 51%;
        height: 39px;
        border-radius: 19px;
        padding: 7px 11px 6px 11px;
    }

    .search-input input {
        order: 1;
        width: 100%;
        outline: none;
        border: none;
        padding: 0px;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
        caret-color: var(--primary-color);
        color: var(--black);
    }

    .search-input__lupe {
        height: 1.5rem;
        margin-right: 10px;

        &:hover {
            cursor: pointer;
        }
    }


    &__menu {
        display: flex;
        margin-top: 9px;
        margin-bottom: 12px;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        gap: 13px;
    }

    &__submenu {
        display: none;
        position: absolute;
    }

    &__menu-item:hover {
        cursor: pointer;
        color: var(--secondary-color);
    }

}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 51px;
    background-color: var(--black);

    .text-wrapper:not(.click-cta-whatsapp) {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .click-cta-whatsapp {
        color: #737ACD;
        transition: color 250ms ease-in;

        &:hover {
            color: #2CE628;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    height: 100%;
    width: 100%;

    &__title {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        text-align: center;
        text-justify: auto;
        font-size: 2.5em;
        margin-inline: auto;
    }

    &__subtitle {
        margin-top: 20px;
        font-family: 'Salsa', sans-serif;
        font-size: 1rem;
        text-align: center;
        vertical-align: middle;
    }

}

.main>.products-container {
    margin-top: 20px;
}

.main>.products-container~.products-container {
    margin-top: 43px;
}

.products-container {
    display: flex;
    flex-direction: column;
    width: 771px;

    &__category {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        color: var(--gray);
    }

    &__grid {
        margin-top: 26px;
    }

    .grid-container {
        display: flex;
        flex-wrap: wrap;
        gap: 21px;
    }

    .grid-item {
        width: 173px;
    }

    .grid-item span {
        display: block;
        text-align: center;
        font-family: 'Salsa', sans-serif;
        font-size: 1rem;
        color: var(--gray);

    }

    .grid-item img {
        width: 160px;
    }

}

.about-us {
    background-color: var(--black);
    height: 551px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    font-size: 1rem;

    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 2.2em;
        color: white;
        font-weight: bold;
        margin-top: 40px;
    }

    &__img {
        width: 434px;
        height: 278px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
        margin-top: 40px;
    }

    &__text {
        display: block;
        text-align: left;
        max-width: 431px;
        margin-block: auto;
        font-size: 1em;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        color: white
    }
}


.testimonials {
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    padding-bottom: 22px;

    &__title {
        margin-top: 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 2.5em;
        font-weight: 600;
        text-align: center;
        color: var(--gray);
    }

    &__wrapper {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        margin-inline: 241px;
        gap: 70px;
        flex-wrap: wrap;
    }

    &__wrapper-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 270px;
    }

    &__wrapper-item img {
        width: 100%;
    }

    &__wrapper-item span {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.2em;
        font-style: italic;
        text-align: center;
        color: var(--gray);
        margin-top: 20px;
        line-break: auto;
    }

    &__wrapper-item strong {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 1.2em;
        text-align: center;
        color: var(--gray);
        margin-top: 5px;
    }


}

.newsletter {
    height: 366px;
    width: 100%;
    background-size: cover;
    background-position: 0 -200px;
    border: none;

    &__body {
        margin-top: 80px;
    }
}

.footer {
    height: auto;
    background-color: var(--black);
    padding: 30px 155px 125px 64px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    &__logo {
        width: 200px;
        margin-right: 70px;
    }
    
    &__sitemap {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        margin-right: auto;
    }
    
    &__sitemap-group {
        vertical-align: middle;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 1em;
    }

    &__sitemap-group a {
        display: list-item;
        color: white;
    }


    &__sitemap-title {
        font-size: 1.5em;
        text-align: left;
        font-weight: bold;
    }


    &__followus {
        width: 160px;

        span {
            display: inline-block;
            width: 100%;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.5em;
            color: white;
        }

        .icons-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 5px;
        }

        img {
            height: 38px;
        }

        img:hover {
            cursor: pointer;
        }
    }

}


.whatsapp-icon {
    width: 36px;
    height: 36px;
}


@media only screen and (max-width: 780px) {
    .footer,.testimonials, .about-us {
        font-size: 0.75rem;
    }


    .newsletter {
        width: 100%;
        height: var(--newsletter-height-sm);
        background-position: center;
        margin-top: 0;
    }

    .footer {
        padding-inline: 90px;
        &__sitemap, &__followus {
            margin-top: 30px;
        }

        &__logo {
            display: inline-block;
            margin-inline: auto;
        }

        .img-wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        &__followus {
            margin-inline: auto;
        }
    }

    .about-us {
        
    }
}