<header class="header">
  <a routerLink='/landing-page'>
    <img srcset='/assets/images/logo.svg'  class="header__logo" />
  </a>
  <div class="header__search-container">
      <div class="search-input">
          <input type="text" value="" placeholder="Pesquise aqui">
          <img srcset='/assets/icons/lupe.svg' class="search-input__lupe"/>
      </div>
      <div class="header__menu nav">
          <div class="header__menu-item" name="materiais">Materiais</div>
          <div class="header__menu-item">Sobre-nós</div>
          <div class="header__menu-item">Depoimentos</div>
          <div id='materiais-submenu' class="header__submenu" for="materiais">
              <div class="header__menu-item">Luzes e Luminárias</div>
              <div class="header__menu-item">Elétricos</div>
          </div>
      </div>
  </div>
</header>